<!DOCTYPE html>
<html>
<head>
	<title>add</title>
</head>
<body>
<h3>添加数据</h3>
<form action="/add" method="POST">
	<input type="text" name="className" value = "defaultClassName">
	<br>
	<input type="text" name="name" value="" placeholder="name">
	<br>
	<input type="text" name="age" value="" placeholder="age">
	<br>
	<input type="submit" value="新增">
</form>
</body>
</html>